.nav {
    width: 950px;
    /* height: 0px; */
    background: #9778EE;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    padding-top: .3%;
    padding-bottom: .3%;
    justify-items: center;
}

.container {
    display: flex;
    justify-content: center;
   
}

.links {
    font-family: 'Itim';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    cursor:pointer; 
    transition: transform .4s;
    align-items: center;
}

.links:hover {
    transform: scale(1.1); 
    color: antiquewhite;
  }

